.poketext {
    font-family: 'Press Start 2P';
}

.center-text{
    text-align: center;
}

.center-img{
    display: block;
    margin: auto;
}

.register-div{
    width: 500px;
    height: 450px;
    border: 1px solid black;
    border-radius: 8px;
    margin: auto;
    margin-top: 50px;
    background-color: white;
}
.mt-1{
    margin-top: 5px;
}
.mt-2{
    margin-top: 10px;
}
.mt-3{
    margin-top: 15px;
}
.mt-4{
    margin-top: 25px;
}
.mt-5{
    margin-top: 50px;
}
.fifty{
    width: 50%;
}
.eighty{
    width: 80%;
}
.two-buttons-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.two-buttons-vertical-div{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

.text-button{
    color: grey;
    text-decoration: none;
    transition-duration: 0.2s;
}

.text-button:hover{
    color: white;
    transition-duration: 0.2s;
}

.background-img{
    background-image: url('gengar.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background-div{
    background-color: black; 
    opacity: 0.85; 
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
}

.sign-on-div{
    width: 350px;
    margin: auto;
    margin-top: 300px;
    display: flex;
    justify-content: center;
}

.sign-text{
    margin: 0px; 
    color: rgb(225, 225, 225); 
    font-family: Ubuntu;
    font-size: xx-large;
    text-decoration: none;
}

.sign-text:hover{
    color: white;
    transition-duration: 0.6s;
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.8);
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    background-color: chocolate;
    border: none;
}

.v-line-img {
    vertical-align: middle;
}

.row-rectangle {
    width: 100%;
}

table {
    /* display: block; */
    /* table-layout: fixed; */
    font-family: arial, sans-serif;
    /* border-collapse: collapse; */
    width: 80%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 50px;
  }


td, th {
    border: 1px solid #dddddd;
    text-align: left; 
    /* border-collapse: collapse; */
    /* width: 100%; */
    font-family: 'Press Start 2P';
  }
  
  th { background-color: #212529; color: white;
  }
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(odd) {
    background-color: #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(odd) {
    background-color: #dddddd;
  }

.bootbutton{
    background-color: #0d6efd;
    border: none;
    border-radius: 6px;
    color: white;
    padding: 6px;
    font-size: 16px;
    width: 300px;
    height: 37.5px;
    min-width: 50px;
    transition-duration: 0.4s;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  }

#check{
    float: right;
  }

.bootbutton:hover{
    transition-duration: 0.4s;
    background-color: #0A58CA;

  }

#battle-button {
    width: 80%;
    display: block;
    margin: auto;
    padding: 10px;
  }

/* #battle-button:hover {
    font-size: xx-large;
} */

#small{
    width: 40px;
}

.flx-r{
    display: flex;
    flex-direction: row;
}

.flx-c{
    display: flex;
    flex-direction: column;
}

.flx1{
    flex: 1;
}

.flx2{
    flex: 2;
}

.just-se{
    justify-content: space-evenly;
}

.small{
    font-size: small;
}
.large{
    font-size: large;
}
.x-large{
    font-size: x-large;
}
.xx-large{
    font-size: xx-large;
}

.wh{
    color: white;
}