{% extends 'base.html' %}

{% block content %}

<h1 class="poketext" style="text-align: center; margin-top: 50px;">You caught {{ pokemon.name }}! </h1>

<div class="pokemon-img" style="display: block; margin: auto;">
    <img style="display: block; margin: auto;" src=" {{ pokemon.cartoon }} ">
</div>

<div style="display: flex; flex-direction: row; justify-content: center; margin-top: 10px;">

    <div style="flex: 1; padding: 8px;">

        <button class="btn btn-primary mt-3 mb-3 col-5" id="check" onclick="location.href='/myteam'"><strong>Go to My
                Team</strong></button>
    </div>
    <div style="flex: 1; padding: 8px;">
        <button class="btn btn-secondary mt-3 mb-3 col-5" onclick="location.href='/dashboard'">Go to Dashboard</button>
    </div>
</div>



{% endblock %}