{% extends 'base.html' %}

{% block content %}

<div class="big-rectangle-div" style="display: flex; flex-direction: row; border: 1px solid black; width: 80%; margin: auto; margin-top: 20px; min-width: 500px;">
    <div class="img-box" style="flex: 1; display: flex; flex-direction: column; align-items: center; text-align: center;">
        <div class="row-rectangle" style="height: 9%;">
            <p class="poketext" style="text-align: center;"> {{ pokemon.name }} </p>
        </div>
        <div class="row-rectangle" style="height: 89%;">
            <span class="helper"></span><img class="v-line-img" src=" {{ pokemon.cartoon }} " style="margin: auto; max-height: 300px;">
        </div>
    </div>
    <div class="stat-box" style="flex: 2; background-color: rgb(220, 220, 220); display: flex; flex-direction: column; justify-content: space-between;">
        <div class="h-box" style="height: 100px; display: flex; justify-content: space-evenly;">
            <div class="sb-1" style="font-size: x-large;">
                <p class="poketext" style="text-align: center;"> HP </p>
                <p class="poketext" style="text-align: center; font-size: xx-large;"> {{ pokemon.stats.hp }} </p>
            </div>
            <div class="sb-1" style="font-size: x-large;">
                <p class="poketext" style="text-align: center;"> ATT </p>
                <p class="poketext" style="text-align: center; font-size: xx-large;"> {{ pokemon.stats.attack }} </p>
            </div>
            <div class="sb-1" style="font-size: x-large;">
                <p class="poketext" style="text-align: center;"> DEF </p>
                <p class="poketext" style="text-align: center; font-size: xx-large;"> {{ pokemon.stats.defense }} </p>
            </div>
        </div>
        <div style="display: flex; flex-direction: rows;">
            <div style="display: flex; flex-direction: column; justify-content: space-between; flex: 1; height: 100%;">
                <p class="poketext" style="font-size: medium; text-align: center;">Moves:</p> 
                {% for key, value in pokemon.moves1.items() %}
                    <p class="poketext" style="font-size: medium; text-align: center;"> {{ key }} : {{ value }} </p>
                {% endfor %}
            </div>
            <div style="display: flex; flex-direction: column; justify-content: space-between; flex: 1; height: 100%;">
                <p class="poketext" style="font-size: medium; text-align: center;">&nbsp;</p> 
                {% for key, value in pokemon.moves2.items() %}
                    <p class="poketext" style="font-size: medium; text-align: center;"> {{ key }} : {{ value }} </p>
                {% endfor %}
            </div>
        </div>
        <div style="background-color: rgb(53, 51, 59); display: flex; flex-direction: row; justify-content:center; padding: 8px;">
            <form method="POST" style="width: 40%;">
                <button type="submit" name="catch" value="catch" class="btn btn-primary" style="width: 100%; font-family: Arial, Helvetica, sans-serif; display: inline-block; margin: auto;"><strong>Catch Pokemon</strong></button>
            </form>
            <button class="btn btn-light" onclick="location.href='search'" style="font-family: Arial, Helvetica, sans-serif; width: 40%; display: inline-block; margin: auto;">Search more Pokemon</button>
        </div>
    </div>

</div>




{% endblock %}